<h1>ADD TASK</h1>
<%= form_for :task,url: tasks_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body,  class: "form-control" %>
  </p>
  <p>
    <%= f.submit 'ADD TODO',:class => 'btn btn-info btn-sm'%>
  </p>
<% end %>